

header {
	height: 750px;
	background: url(../img/head-bg.jpg) no-repeat center top fixed;
	background-size: cover;

}

.header-nav {
	padding-top: 47px;
	padding-bottom: 30px;
}

.section1 {
	padding-top: 90px;
	padding-bottom: 90px;
}

.left-img {
	width: 520px;
}